body {
    padding: 0;
    margin: 0;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, minmax(50px, 120px));
    grid-template-rows: repeat(3, minmax(50px, 140px));
}

#res {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-all;
}

button {
    font-size: 1.5rem
}

